.header_Wrap .userinfo {
  width: 300px;
  height: 48px;
  float: left;
  padding-left: 25px;
  padding-top: 5px; }
  .header_Wrap .userinfo .letter {
    font-size: 25px; }
  .header_Wrap .userinfo .info {
    font-size: 12px; }
.header_Wrap .header .right {
  float: right; }

.register_Wrap {
  padding-top: 50px;
  height: 586px; }
  .register_Wrap .div1 {
    background-color: #fffdef;
    margin-bottom: 10px; }
    .register_Wrap .div1 span {
      font-size: 12px;
      color: grey;
      font-weight: normal; }
  .register_Wrap .div2 {
    height: 500px;
    padding: 0px 10px; }
    .register_Wrap .div2 .commo {
      height: 70px;
      padding-left: 20px;
      padding-top: 5px;
      border-bottom: 1px dashed #cfd6d3; }
      .register_Wrap .div2 .commo a {
        line-height: 60px;
        text-decoration: none;
        color: black; }
        .register_Wrap .div2 .commo a:hover {
          color: red; }
      .register_Wrap .div2 .commo span {
        line-height: 70px;
        font-size: 13px;
        line-height: 70px;
        padding-left: 10px;
        float: left; }
      .register_Wrap .div2 .commo img {
        float: left; }
      .register_Wrap .div2 .commo .price {
        padding-left: 210px; }
      .register_Wrap .div2 .commo .goodnum {
        position: absolute;
        right: 360px; }
        .register_Wrap .div2 .commo .goodnum span {
          margin: 0px 4px; }
        .register_Wrap .div2 .commo .goodnum #add, .register_Wrap .div2 .commo .goodnum #sub, .register_Wrap .div2 .commo .goodnum #goodnumber {
          line-height: 14px;
          font-size: 14px;
          border: 1px solid #cfd6d3;
          padding-left: 0;
          margin-top: 23px; }
        .register_Wrap .div2 .commo .goodnum #add, .register_Wrap .div2 .commo .goodnum #sub {
          padding: 0px 2px;
          cursor: pointer; }
        .register_Wrap .div2 .commo .goodnum #goodnumber {
          padding: 0px 10px; }
      .register_Wrap .div2 .commo #priceall {
        font-size: 14px;
        color: red;
        line-height: 70px;
        position: absolute;
        right: 270px; }
      .register_Wrap .div2 .commo #del {
        line-height: 70px;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        right: 195px;
        display: inline-block;
        border: none;
        background-color: white;
        outline: none; }
    .register_Wrap .div2 .div3 {
      height: 340px;
      padding: 0; }
      .register_Wrap .div2 .div3 .coupon {
        width: 700px;
        height: 340px;
        float: left; }
      .register_Wrap .div2 .div3 .go {
        width: 250px;
        height: 240px;
        float: right;
        padding-top: 130px;
        text-align: center;
        font-size: 12px;
        color: grey;
        line-height: 20px; }
        .register_Wrap .div2 .div3 .go button {
          color: white;
          width: 200px;
          height: 40px;
          line-height: 40px;
          font-size: 20px;
          border: none;
          background-color: #d00203; }
        .register_Wrap .div2 .div3 .go .red {
          color: red;
          line-height: 20px; }
        .register_Wrap .div2 .div3 .go .all {
          line-height: 50px; }

.div3 {
  height: 150px;
  padding-top: 25px;
  border-top: 1px solid #cfd6d3; }
  .div3 .tubiao {
    width: 980px;
    height: 50px;
    margin: 0 auto;
    background-color: #f0ede4; }
    .div3 .tubiao ul {
      height: 50px; }
    .div3 .tubiao ul li {
      list-style: none;
      float: left;
      line-height: 50px;
      padding: 0px 16px; }
      .div3 .tubiao ul li .iconfont {
        color: red;
        font-size: 30px; }
      .div3 .tubiao ul li .bold {
        font-weight: bolder; }
      .div3 .tubiao ul li .grey {
        font-size: 14px;
        color: grey; }
  .div3 .last {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    text-align: center;
    color: grey;
    font-size: 12px;
    line-height: 40px;
    border-top: 1px solid #cfd6d3; }